.AboutUs {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 100px;
}
.AboutUs h2{
    font-size: 70px;
    margin-top: 0px;
    text-align: start;
    margin-bottom: 0;
    padding-bottom: 0;
}
.AboutUs h3{
    font-size: 20px;
    text-align: start;
    margin-top: 0;
    padding: 0;
}