.ToKnowTheCityDetails {
    display:block;
    margin-left: auto;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;

}

.ToKnowTheCityDetails img {
    height: auto;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 0px;

}

.ToKnowTheCityDetails h2 {
    font-size: medium;
}
